@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

:root {
  --font-color: #404258;
  --background-color: #f8f6f4;
  --select-button: #6c3428;
  --select-btncolor: #f2ead3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "cwTeXYen", sans-serif;
  font-size: 1rem;
  scroll-behavior: smooth;
  background-color: var(--background-color);
}

button {
  background-color: inherit;
  border: none;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
  .header_container {
    position: relative;
    .header-menu-toggle {
      display: none;
    }
    .wrap_header {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1rem;

      .header-menu-list {
        flex: 7;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          margin-right: auto;

          color: var(--font-color);
          letter-spacing: 2px;
        }
      }
      .header-account {
        flex: 1;
        display: flex;
        justify-content: center;
        i {
          font-size: 1.2rem;
          color: var(--font-color);
        }
      }
    }
    .wrap_app_header {
      display: none;
    }
  }
}
main::-webkit-scrollbar {
  display: none;
}
main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: scroll;
  .search-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    .select-cities {
      flex: 2;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      #labelcity {
        font-size: 1.5rem;
      }
      #city {
        font-size: 1.5rem;
        margin-left: 5px;
        border: none;
        &:focus-within {
          color: #468b97;
        }
      }
    }

    .search-box {
      flex: 6;
      border: 2px solid #333;
      border-radius: 45px;
      padding: 0.8rem;
      margin: 0.2rem;

      input {
        width: 98%;
        border: none;
        margin-left: 1rem;
        outline: none;
      }
      &:focus-within {
        outline: 4px solid #ea906c;
      }
    }
  }
  .container {
    display: none;
    width: 90%;
    position: relative;
    margin-bottom: 1rem;
    .select-option {
      display: flex;
      justify-content: start;
      align-items: center;
      padding: 1rem;
      h3,
      span,
      button {
        font-size: 1.5rem;
        margin-right: 16px;
      }
      button {
        border: 1px solid #333;
        border-radius: 5px;
        cursor: pointer;
        color: var(--font-color);
        padding: 2px;
      }
      #ScenicSpot {
        background-color: var(--select-button);
        color: var(--select-btncolor);
      }
    }
    .cities {
      margin-bottom: 8px;
      .card-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        overflow: hidden;
        .card {
          color: #333;
          border: 1px solid #333;
          border-radius: 25px;
          width: 18rem;
          height: 20rem;
          margin: 0.5rem;
          position: relative;
          cursor: pointer;

          img {
            opacity: 0;
            max-width: 100%;
            max-height: 12rem;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
            transition: opacity 0.8s ease-in-out;
            z-index: -1;
          }

          .card-body {
            width: 100%;
            color: #333;
            font-weight: 600;
            padding: 4px;
            border-radius: 25px;
            backdrop-filter: blur(2px);
            transition: all 1s ease-in-out;
            overflow: scroll;

            .name,
            .sub-title,
            .address,
            span {
              font-size: 1.2rem;
              margin-bottom: 2px;
            }
            button {
              background-color: aliceblue;
              text-decoration: none;
              border-radius: 25px;
              padding: 8px;
              float: right;
              border-end-start-radius: 25px;
              cursor: pointer;
            }
            &::-webkit-scrollbar {
              display: none;
            }
          }

          &:hover .info {
            opacity: 1;
          }
          .info {
            width: 100%;
            height: 100%;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            padding: 10px;
            border-radius: 25px;
            background-color: #ffffffaa;
            backdrop-filter: blur(4px);
            border-radius: 25px;
            overflow-y: scroll;

            .card-text {
              background-color: transparent;
              h5,
              span {
                padding: 2px;
                background-color: transparent;
                font-size: 1.2rem;
              }

              // z-index: -1;
              font-size: 1.3rem;
            }
            &:active {
              opacity: 1;
            }
            &::-webkit-scrollbar {
              display: none;
            }
          }
        }
        .loaded {
          position: relative;
        }

        .loaded > img {
          opacity: 1;
        }
      }
    }
    #dataEnd {
      text-align: center;
      font-size: 1rem;
      margin: 1rem;
    }
    .loadmore {
      position: absolute;
      margin: 1rem;
      font-size: 1.2rem;
      bottom: -3.2rem;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 1px solid #333;
      border-radius: 8px;
      padding: 2px;
    }
  }
  .homepage {
    width: 100%;
    // display: none;

    .tour {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .right {
        margin-left: 15%;
      }
      .left {
        margin-right: 15%;
      }
      .tour_cell {
        width: 70%;
        padding-top: 10%;
        position: relative;
        .left {
          top: 18%;
          left: -15%;
        }
        .right {
          top: 18%;
          right: -15%;
        }
        .tour_descript {
          width: 50%;
          position: absolute;
          background-color: #ea906cb9;
          h3 {
            background-color: transparent;
            font-size: 2rem;
            margin-bottom: 1rem;
            letter-spacing: 2px;
          }
          pre {
            background-color: transparent;
            font-size: 1.5rem;
            letter-spacing: 2px;
          }
        }
        .tour_pic {
          padding-top: 56.25%; //16:9
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          opacity: 0.7;
          transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
          // position: relative;
          &_bg1 {
            background-image: url("/assets/imgs/pic_1.jpg");
          }
          &_bg2 {
            background-image: url("/assets/imgs/pic_2.jpg");
          }

          &:hover {
            opacity: 1;
          }
        }
      }
    }
    h3 {
      font-size: 2rem;
      text-align: center;
      margin: 2rem;
    }
    .year_active {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      overflow: hidden;
      .card_container {
        padding: 1rem;
        .active_card {
          .bg {
            padding-top: 56.26%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            border-radius: 15px;

            &_1 {
              background-image: url("https://www.taiwan.net.tw/pic.ashx?qp=event/6fe79462-ec06-41fc-8f6e-291250981bbb.jpg&sizetype=2");
            }
            &_2 {
              background-image: url("https://www.taiwan.net.tw/pic.ashx?qp=event/133e2441-8e81-40be-a60a-21f5c0e00d4f.jpg&sizetype=2");
            }
            &_3 {
              background-image: url("https://www.taiwan.net.tw/pic.ashx?qp=event/aada9786-3e92-42c4-bf4b-e25afccabe84.jpg&sizetype=2");
            }
            &_4 {
              background-image: url("https://www.taiwan.net.tw/pic.ashx?qp=event/1865b1a1-b85c-4284-8282-ea6935693344.jpg&sizetype=2");
            }
            &_5 {
              background-image: url("https://www.taiwan.net.tw/pic.ashx?qp=event/c39f58d1-a906-4424-bd7f-1d13693719df.JPG&sizetype=2");
            }
            &_6 {
              background-image: url("https://www.taiwan.net.tw/pic.ashx?qp=event/0ab60674-d293-4334-a8fd-c99314ddd394.jpg&sizetype=2");
            }
            &_7 {
              background-image: url("https://www.taiwan.net.tw/pic.ashx?qp=event/e7d96932-6633-4a2c-b724-c1ad89893c19.jpg&sizetype=2");
            }
            &_8 {
              background-image: url("https://www.taiwan.net.tw/pic.ashx?qp=event/a7b307f6-7754-4f86-a4c6-485b0591f649.jpg&sizetype=2");
            }
          }
        }

        .btn {
          margin: 1rem;
          font-size: 1.5rem;
          width: 400px;
          height: 50px;
          cursor: pointer;
          border: 1px solid #333;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.5rem;

          &::before {
            display: block;
            content: "";
            position: absolute;
            cursor: pointer;
            z-index: 2;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background-color: #33333324;
            transition: width 0.5s;
          }
          &:hover::before {
            width: 100%;
          }
        }
      }
    }
  }
}

#up {
  position: fixed;
  top: 95%;
  right: 2rem;
  z-index: 2;
  cursor: pointer;
  background-color: #333;
  border-radius: 50%;
  padding: 2px 5px;
  .fa-arrow-up {
    color: whitesmoke;
    font-size: 1.5rem;

    background-color: transparent;
  }
}

footer {
  margin-bottom: 0;
  width: inherit;
  padding: 20px;
  background-color: var(--background-color);
  text-align: center;
}

@media (min-width: 300px) and (max-width: 575px) {
  header {
    .header_container {
      .header-menu-toggle {
        display: block;
        position: relative;
        .fa-bars::after {
          content: "\f0d9";
          font-size: 1rem;
          color: #606c5d;
          position: absolute;
          top: 15%;
          left: 50%;
          opacity: 0;
        }
        span {
          opacity: 0;
          font-size: 0.8rem;
          color: #fff4f4;
          background-color: #606c5d;
          padding: 2px;
          margin-left: 0.6rem;
          position: absolute;
          white-space: nowrap;
          top: 15%;
        }
        .fa-burger {
          opacity: 0;
        }
        i {
          font-size: 1.5rem;
          color: var(--font-color);

          &:hover {
            color: #468b97;
            cursor: pointer;
          }
          &:hover + span,
          &:hover::after {
            opacity: 1;
          }
        }
      }
      .header-menu-list {
        .logo {
          margin-left: auto;
        }
        .link {
          display: none;
        }
      }
      .wrap_app_header {
        margin-bottom: 10px;
        opacity: 0;
        width: 100%;
        display: none;
        position: absolute;
        z-index: 1000;
        background-color: var(--background-color);
        flex-direction: column;
        padding-left: 1rem;
        transform-origin: top center;
        animation: showMenu 0.5s ease-in-out forwards;
        a {
          font-size: 1.5rem;
          color: var(--font-color);

          &:hover {
            color: #468b97;
            font-weight: 800;
          }
        }
      }
    }
  }
  #up {
    right: 0.5rem;
    padding: 1px 4px;
    .fa-arrow-up {
      color: whitesmoke;
      font-size: 1.2rem;
    }
  }
  @keyframes showMenu {
    0% {
      transform: scaleY(0);
    }

    80% {
      transform: scaleY(1.2);
    }

    100% {
      transform: scaleY(1);
    }
  }
  main {
    .search-container {
      .select-cities {
        #labelcity {
          font-size: 1.4rem;
        }
        #city {
          font-size: 1.2rem;
        }
      }
      .search-box {
        flex: 3;
        margin-left: 0;
      }
    }
    .container {
      width: 100%;

      .cities {
        display: flex;
        justify-content: center;
        .card-container {
          grid-template-columns: 1fr;
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  header {
    .header_container {
      .header-menu-toggle {
        display: block;
        position: relative;
        .fa-bars::after {
          content: "\f0d9";
          font-size: 1rem;
          color: #606c5d;
          position: absolute;
          top: 15%;
          left: 50%;
          opacity: 0;
        }
        span {
          opacity: 0;
          font-size: 0.8rem;
          color: #fff4f4;
          background-color: #606c5d;
          padding: 2px;
          margin-left: 0.6rem;
          position: absolute;
          white-space: nowrap;
          top: 15%;
        }
        .fa-burger {
          opacity: 0;
        }
        i {
          font-size: 1.5rem;
          color: var(--font-color);

          &:hover {
            color: #468b97;
            cursor: pointer;
          }
          &:hover + span,
          &:hover::after {
            opacity: 1;
          }
        }
      }
      .header-menu-list {
        .logo {
          margin-left: auto;
        }
        .link {
          display: none;
        }
      }
      .wrap_app_header {
        margin-bottom: 10px;
        opacity: 0;
        width: 100%;
        display: none;
        position: absolute;
        z-index: 1000;
        background-color: var(--background-color);
        flex-direction: column;
        padding-left: 1rem;
        transform-origin: top center;
        animation: showMenu 0.5s ease-in-out forwards;
        a {
          font-size: 1.5rem;
          color: var(--font-color);

          &:hover {
            color: #468b97;
            font-weight: 800;
          }
        }
      }
    }
  }
  #up {
    right: 0.5rem;
    padding: 1px 4px;
    .fa-arrow-up {
      color: whitesmoke;
      font-size: 1.2rem;
    }
  }
  @keyframes showMenu {
    0% {
      transform: scaleY(0);
    }

    80% {
      transform: scaleY(1.2);
    }

    100% {
      transform: scaleY(1);
    }
  }
  main {
    .search-container {
      .select-cities {
        font-size: 1rem;
      }
      .search-box {
        flex: 3;
      }
    }
    .container {
      width: 95%;

      .cities {
        display: flex;
        justify-content: center;
        .card-container {
          grid-template-columns: 1fr 1fr;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  header {
    .header_container {
      .header-menu-list {
        a.link {
          font-size: 1.2rem;
        }
      }
    }
  }
  main {
    .search-container {
      .select-cities {
        flex: 2;
        #labelcity,
        #city {
          font-size: 1.2rem;
        }
      }
      .search-box {
        flex: 5;
      }
    }
    .container {
      .cities {
        .card-container {
          grid-template-columns: 1fr 1fr 1fr;
          .card {
            width: 15rem;
          }
        }
      }
    }
    .homepage {
      .year_active {
        .card_container {
          width: 40%;
          .btn {
            width: 90%;
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}
@media (min-width: 992px) {
  header {
    .header_container {
      .header-menu-list {
        a.link {
          font-size: 1.5rem;
        }
      }
    }
  }
  main {
    .search-container {
      .select-cities {
        flex: 2;
        #labelcity,
        #city {
          font-size: 1.2rem;
        }
      }
      .search-box {
        flex: 5;
      }
    }
    .container {
      .cities {
        .card-container {
          grid-template-columns: 1fr 1fr 1fr;
        }
      }
    }
    .homepage {
      .year_active {
        .card_container {
          width: 30%;
          .btn {
            width: 90%;
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}
@media (min-width: 1200px) {
  main {
    .search-container {
      .select-cities {
        flex: 1;
      }
      .search-box {
        flex: 4;
      }
    }
    .container {
      .cities {
        .card-container {
          grid-template-columns: 1fr 1fr 1fr 1fr;
        }
      }
    }
    .homepage {
      .year_active {
        .card_container {
          width: 25%;
          .btn {
            width: 90%;
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}
